#promo-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
  border-bottom: 2px solid #e0e0e0;
}

#promo-bar > div {
  display: flex;
  align-items: center;
  text-align: center;
}

#promo-bar h1 {
  font-size: 1.2rem;
  color: #343a40;
  margin: 0;
  font-weight: 500;
  margin-left: 0.5rem;
}
