#promo-bar {
  display: flex;
  background-color: rgb(233, 233, 233);
  justify-content: space-between;
  padding: 20px 20px 10px;
  border-top: solid 1.2px rgb(207, 207, 207);
}

#promo-bar > div > h1 {
  font-size: 1em;
}
